@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}


/* 

NAVBAR ↓

*/


nav {
    padding-top: 32px;
    display: flex;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transaprent;
    position: relative;
    transition: all 300ms;
    margin: 0 24px;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}

.nav__link--primary:after {
    content: "";
    width: 0;
    height: 0;
}

.nav__link:after {
    position: absolute;
    left: 0;
    bottom: -6px;
    background: #6415ff;
    transition: all 300ms ease;
    opacity: 0;
}

a {
    display: inline;
    text-decoration: none;
}



.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
}


.btn__menu {
    background-color: transparent;
    border: none;
    display: none;
    transition: all 300ms ease;
}

button {
    cursor: pointer;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.menu__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.menu__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .menu {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/


header {
    position: relative;
}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description {
    width: 40%;
}

.header__description--para {
    margin: 32px 0;
    font-size: 48px;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__customer--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
}

.header__customers {
    margin: 16px 0px 0px;
    padding: 0px 128px 0px 0px;
    padding-right: 128px;
    opacity: 0.5;
}

img {
    width: 100%;
}

.header__img {
    width: 100%;
    max-width: 768px;
}

/* 

FEATURES ↓

*/


#features {
    position: relative;
}

section {
    padding: 0 32px;
}

.container {
    padding: 96px 0;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

#features .section__para {
    text-align: center;
    max-width: 576px;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100% / 3);
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: cal(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}




/* 

QUALITY WORK ↓

*/

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality__description {
    width: 50%;
    max-width: 576px;
    margin-right: 65px;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

#quality .section__title {
    line-height: 1.25;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    margin: 16px 0;
    letter-spacing: 0.025;
}

#quality .btn {
    margin-top: 32px;
}

.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;

}.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
    width: 50%;
}




/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}.steps__description, .steps__img--wrapper {
    width: 50%;
}

.steps__img--wrapper {
    display: flex;
    position: relative;
}

.steps__img {
    z-index: 2;
}

img {
    width: 100%;
}

.steps__description, .step__description--wrapper {
    width: 50%;
}

.steps__description {
    padding: 32px 0;
    padding-left: 64px;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 0.025;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}
.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}



/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.values__description, .values__img {
    width: 50%;
}

.values__description {
    padding: 32px 64px 32px 0;
}

#values .section__title {
    margin-top: 16px;
    margin-bottom: 32px;
}

#quality .section__title, #values .section__title {
    line-height: 1.25;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.values__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.value:nth-of-type(1) {
    margin-top: 32px;
    margin-bottom: 32px;
}

.value {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.value__title {
    display: flex;
    align-items: center;
}

.value:nth-child(1) .value__img--wrapper {
    background-color: #9ae6b4;
}

.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.value__img {
    width: 20px;
    height: 20px;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}

.value:nth-of-type(2) {
    margin-top: 32px;
    margin-bottom: 32px;
}

.value {
    margin-right: 2rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.value__title {
    display: flex;
    align-items: center;
}

.value:nth-child(2) .value__img--wrapper {
    background-color: #feb2b2;
}

.value__image--wraper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36;
}

/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}


/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}